$bgColor: black;
$textColor: white;

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
$fontfamily: 'Play', sans-serif;

body{
    background-color: $bgColor;
    color: $textColor;
    font-family: $fontfamily;
}
h3{
    margin: 8rem auto;
    text-align: center;
    width: 60%;
}