<section class="comments">
            <h2>Comments</h2>
            <div class="container">
            </div>
            <form class="add-comment" id="demo-form">
                <input type="text" name="comment" id="comment" placeholder="Add a comment" autocomplete="off" required>
                <div class="comment-btn">
                    <button class="cta cta-comment">Comment</button>
                </div>
            </form>
        </section>