<html lang="en">

<head>
    <%- include("common-links") %>
    <link rel="stylesheet" href="/assets/css/fallback.css">
    <title>Offline</title>
</head>

<body>
    <%- include("header") %>
    <main>
        <h3 style="text-align: center;">You need to have interet connection to access this page</h3>
    </main>
    <%- include("footer") %>
</body>

</html>