<html lang="en">

<head>
    <%- include("common-links") %>
    <link rel="stylesheet" href="assets/css/fallback.css">
    <title>Offline</title>
</head>

<body>
    <%- include("header") %>
    <main>
        <h3>You need to have interet connection to access this page</h3>
    </main>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/register.js"></script>
</body>

</html>