<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("common-links") %>
    <link rel="stylesheet" href="/css/fallback.css">
    <title>Offline</title>
</head>

<body>
    <%- include("header") %>
    <main>
        <h3>You need to have internet connection to access this page</h3>
        <button class="cta"><a href="/">Back to Home Page</a></button>
    </main>
    <%- include("footer") %> 
</body>

</html>