<html lang="en">

<head>
    <%- include("common-links") %>
    <link rel="stylesheet" href="assets/css/index.css">
    <title>SpaceX</title>
</head>

<body>
    <%- include("header") %>
    <main>
        <section class="section-1">
            <div class="quote">
                <p class="text">
                    “You want to wake up in the morning and think the future is going to be great - and that’s what
                    being a spacefaring civilization is all about. It’s about believing in the future and thinking that
                    the future will be better than the past. And I can’t think of anything more exciting than going out
                    there and being among the stars.”
                </p>
                <h4 class="person">-Elon Musk</h4>
            </div>
        </section>
        <section class="section-2">
            <h2>Launch Stats</h2>
            <div class="stats">
                <div class="stat">
                    <p class="number">117</p>
                    <p class="stat-name">Total Launches</p>
                </div>
                <div class="stat">
                    <p class="number">79</p>
                    <p class="stat-name">Total Landings</p>
                </div>
                <div class="stat">
                    <p class="number">59</p>
                    <p class="stat-name">Reflown Rockets</p>
                </div>
            </div>
        </section>
        <section class="section-3">
            <img src="assets/images/mars.jpg" alt="Mars image">
            <div class="content">
                <h3>MAKING HUMANITY MULTIPLANETARY</h3>
                <p class="description">Building on the achievements of Falcon 9 and Falcon Heavy, SpaceX is working on a
                    next generation of fully reusable launch vehicles that will be the most powerful ever built, capable
                    of carrying humans to Mars and other destinations in the solar system.</p>
                <button class="cta"><a href="/starship">Visit Starship</a></button>
            </div>
            <img src="assets/images/droneship-landing.png" alt="droneship landing">
            <div class="content">
                <h3>Reusability</h3>
                <p class="description">SpaceX believes a fully and rapidly reusable rocket is the pivotal breakthrough
                    needed to substantially reduce the cost of space access. The majority of the launch cost comes from
                    building the rocket, which historically has flown only once.</p>
                <p class="description">Compare that to a commercial airliner – each new plane costs about the same as
                    Falcon 9 but can fly multiple times per day and conduct tens of thousands of flights over its
                    lifetime. Following the commercial model, a rapidly reusable space launch vehicle could reduce the
                    cost of traveling to space by a hundredfold.</p>
                <p class="description">While most rockets are designed to burn up on reentry, SpaceX rockets can not
                    only withstand reentry but can also successfully land back on Earth and refly again.</p>
            </div>
        </section>
        <section class="section-4">
            <h2>SpaceX Facilities</h2>
            <div class="facilities">
                <div class="facility">
                    <img src="assets/images/facility-1.webp" alt="">
                    <div class="content">
                        <h4>Build Facility</h4>
                        <h5>California</h5>
                        <p class="description">
                            SpaceX designs and builds its reusable rockets and spacecraft at its headquarters in
                            Hawthorne, California. As a company, SpaceX is vertically integrated, building the vast
                            majority of the vehicle on the Hawthorne campus. SpaceX headquarters remains one of the few
                            facilities in the world where you can see an entire launch vehicle or spacecraft come
                            together under one roof.
                        </p>
                    </div>
                </div>
                <div class="facility">
                    <img src="assets/images/facility-2.webp" alt="">
                    <div class="content">
                        <h4>Testing Facility</h4>
                        <h5>Texas</h5>
                        <p class="description">
                            SpaceX tests its engines, vehicle structures, and systems at a 4,000-acre state-of-the-art
                            rocket development facility in McGregor, Texas. Outfitted with 16 specialized test stands,
                            the facility validates for flight every Merlin engine that powers the Falcon 9 and Falcon
                            Heavy rockets, and every Draco thruster that controls the Dragon spacecraft.
                        </p>
                    </div>
                </div>
                <div class="facility">
                    <img src="assets/images/facility-3.webp" alt="">
                    <div class="content">
                        <h4>Cape Canaveral Space Force Station, Space LAunch Complex 40</h4>
                        <h5>Florida</h5>
                        <p class="description">
                            The site’s location on the southeast coast of the US provides access to a wide range of low
                            and medium inclination orbits frequently used by communications and Earth-observing
                            satellites and by supply missions to the International Space Station. The site also allows
                            access to geostationary orbits, as well as departures to the Moon and interplanetary
                            destinations.
                        </p>
                    </div>
                </div>
                <div class="facility">
                    <img src="assets/images/facility-4.webp" alt="">
                    <div class="content">
                        <h4>Kennedy Space Center, Launch Complex 39A</h4>
                        <h5>Florida</h5>
                        <p class="description">
                            SpaceX is honored to launch from Kennedy Space Center’s historic Launch Complex 39A, home of
                            the Apollo and Space Shuttle programs. In addition to commercial satellite launches and
                            space station resupply missions, LC-39A supports crew launches of the Dragon spacecraft.
                        </p>
                    </div>
                </div>
                <div class="facility">
                    <img src="assets/images/facility-5.webp" alt="">
                    <div class="content">
                        <h4>Vandenberg Air Force Base, Space Launch Complex 4 East</h4>
                        <h5>California</h5>
                        <p class="description">
                            The site’s location on the California coastline provides customers with access to high
                            inclination and polar orbits, frequently used by satellite communication constellations,
                            defense intelligence and Earth-observing satellites, and some lunar missions. Launches from
                            Vandenberg heading straight south traverse open ocean all the way to the Antarctic, by which
                            time the vehicles have long since reached orbit.
                        </p>
                    </div>
                </div>
                <div class="facility">
                    <img src="assets/images/facility-6.webp" alt="">
                    <div class="content">
                        <h4>Starbase</h4>
                        <h5>Texas</h5>
                        <p class="description">
                            SpaceX is building the world’s first commercial launch site designed for orbital missions at
                            Starbase in Texas. Starbase is where build and test development for Starship vehicles takes
                            place.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("footer") %>
</body>

</html>