<html lang="en">

<head>
  <%- include("common-links") %>
  <link rel="stylesheet" href="assets/css/journey.css">
  <title>SpacaeX Journey</title>
</head>

<body>
  <%- include("header") %>
  <main>
    <h1>SpaceX Journey</h1>
    <section class="section-1">
      <div class="achievement">
        <img src="assets/images/journey/falcon-1.jpg" alt="Falcon 1 launching image">
        <div class="content">
          <h2>FALCON 1 MAKES HISTORY</h2>
          <h6>SEPTEMBER 2008</h6>
          <p>Falcon 1 becomes the first privately developed liquid fuel rocket to reach Earth orbit.</p>
        </div>
      </div>
      <div class="achievement">
        <div class="content">
          <h2>DRAGON REACHES THE SPACE STATION</h2>
          <h6>APRIL 2012</h6>
          <p>Dragon becomes the first private spacecraft in history to visit the space station.</p>
        </div>
        <img src="assets/images/journey/dragon-reaches-space-station.jpg" alt="Image of dragon reaching the ISS">
      </div>
      <div class="achievement">
        <img src="assets/images/journey/first-land-landing.jpg" alt="Image of booster landing on land">
        <div class="content">
          <h2>FIRST LAND LANDING</h2>
          <h6>DECEMBER 2015</h6>
          <p>On December 21, 2015, the Falcon 9 rocket delivered 11 communications satellites to orbit, and the first
            stage returned and landed at Landing Zone 1 — the first-ever orbital class rocket landing.</p>
        </div>
      </div>
      <div class="achievement">
        <div class="content">
          <h2>DRONESHIP LANDING</h2>
          <h6>APRIL 2016</h6>
          <p>On April 8, 2016, the Falcon 9 rocket launched the Dragon spacecraft to the International Space Station,
            and the first stage returned and landed on the “Of Course I Still Love You” droneship.</p>
          </div>
          <img src="assets/images/journey/droneship-landing.jpg" alt="Image of booster landing on a droneship">
      </div>
      <div class="achievement">
        <img src="assets/images/journey/first-reflight.jpg" alt="Image of launching falcon-9 with used booster">
        <div class="content">
          <h2>FIRST REFLIGHT</h2>
          <h6>MARCH 2017</h6>
          <p>On March 30, 2017, SpaceX achieved the world’s first reflight of an orbital class rocket. Following
            delivery of the payload, the Falcon 9 first stage returned to Earth for the second time.</p>
        </div>
      </div>
      <div class="achievement">
        <div class="content">
          <h2>FALCON HEAVY FIRST FLIGHT</h2>
          <h6>FEBRUARY 2018</h6>
          <p>Falcon Heavy is the world’s most powerful operational rocket by a factor of two, capable of carrying large
            payloads to orbit and supporting missions as far as the Moon or Mars. On February 7, 2018, Falcon Heavy made
            its first launch to orbit, successfully landing 2 of its 3 boosters and launching its payload to space.</p>
          </div>
          <img src="assets/images/journey/falcon-heavy-first-flight.jpg" alt="First falcon hevay flight">
      </div>
      <div class="achievement">
        <img src="assets/images/journey/dragon-docks-with-iss.jpg" alt="Crew Dragon docking with ISS">
        <div class="content">
          <h2>DRAGON DOCKS WITH ISS</h2>
          <h6>MARCH 2019</h6>
          <p>Dragon docked with the International Space Station on March 3 at 3:02 a.m. PST, becoming the first American
            spacecraft to autonomously dock with the orbiting laboratory.</p>
        </div>
      </div>
      <div class="achievement">
        <div class="content">
          <h2>SPACEX RETURNS HUMAN SPACEFLIGHT TO THE UNITED STATES</h2>
          <h6>MAY 2020</h6>
          <p>Launched atop Falcon 9 on May 30, 2020, Dragon's second demonstration mission to and from the International
            Space Station, with NASA astronauts onboard the spacecraft, restored human spaceflight to the United States.
            Later that year, NASA certified SpaceX’s Falcon 9 and Crew Dragon human spaceflight system for crew missions
            to and from the space station – becoming the first commercial system in history to achieve such designation.
          </p>
        </div>
        <img src="assets/images/journey/landing-1.jpg" alt="Crew dragon lands with humans in it">
      </div>
    </section>
  </main>
  <%- include("footer") %>
</body>

</html>