<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("common-links") %>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>Login</title>
</head>

<body>
    <%- include("header") %>
    <main>
        <h2>Log In</h2>
        <section class="form">
            <form id="login">
                <p class="error"></p>
                <input type="text" name="username" id="username" placeholder="Username" aria-label="Username" autocomplete="off" required>
                <input type="password" name="password" id="password" placeholder="Password" aria-label="Password" autocomplete="off" required>
                <button type="submit" class="cta">Log In</button>
            </form>    
        </section>
        <p>Don't have an account? <a href="/user/register"><span class="cta">Register</span></p></a>
    </main>
    <%- include("footer") %> 
    <script src="/js/loginHandler.js"></script>
</body>

</html>