<!-- <div class="modal">
    <div class="container">
        <h2>Log In or Register to contribute to the post</h2>
        <div>
            <p class="cta">Log In</p>
            <p class="cta">Register</p>
        </div>
    </div>
</div> -->