$bgColor: black;
$textColor: white;

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
$fontfamily: 'Play', sans-serif;

body{
    background-color: $bgColor;
    color: $textColor;
    font-family: $fontfamily;
}
main{
    padding: 20px;
    text-align: center;
    height: calc(100vh - 66px - 51px - 40px);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
h3{
    text-align: center;
    max-width: 600px;
}
.cta{
    all: unset;
    padding: 15px 30px;
    border: 2px solid white;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
}
.cta:hover{
    background-color: white;
    color: black;
}