header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    .logo{
        fill: white;
        flex-basis: 250px;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .icon-menu{
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    .menu-items{
        position: relative;
        cursor: pointer;
        width: fit-content;
    }
    .menu-items:hover::after{
        content: "";
        border-bottom: 1px solid white;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
    }
    .mobile-menu{
        display: none;
        .mobile-menu-items{
            display: none;
        }
    }
}
header.show-menu{
    position: relative;
    .mobile-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        top: 100%;
        right: 2rem;
        background-color: white;
        color: black;
        padding: 20px;
        z-index: 4;
        .menu-items:hover::after{
            border-color: black;
        }
        .border{
            width: 100%;
            border-bottom: 1px solid #333;
        }
        .logout{
            display: none;
        }
    }
}
body[user-id]{
    .login, .register{
        display: none;
    }
    header.show-menu .mobile-menu .logout{
        display: block;
    }
}
@media (max-width: 768px){
    header{
        ul.menu{
            display: none;
        }
        .icon-menu{
            display: block;
            cursor: pointer;
        }
        .mobile-menu{
            .mobile-menu-items{
                display: block;
            }
        }
    }
}